<div class="jumbotron jumbotron-extend">
  <div class="container jumbotron-container">
    <h1 class="site-name">Farmers' Supplies</h1>
    <p><a class="btn btn-default" href="/events" role="button"><strong>イベントの一覧はこちら</strong></a></p>
  </div>
</div>