<div class="jumbotron jumbotron-extend">
  <div class="container jumbotron-container">
  　　<div class="hidden_box">
        <label for="label2">このアプリについて</label>
          <input type="checkbox" id="label2"/>
            <div class="hidden_show">
              <p>私が子供の頃、ぶどう狩りのお客さまで町内は賑わっていたと記憶しています。<br>
               今では、ぶどう農家を継ぐ人も少なくなり、空き家の数は日本で一番。<br>
               作り手のない農地も目に付きます。<br>
               富士山は世界遺産として認められ、たくさんの観光客で賑わっています。<br>
               その他の地域ももっと盛り上がって欲しい、そう思っています。<br>
               山梨では「また来てね」と言う時に「また来（こ）おし」という方言を使います。<br>
               もう一度地元が活気付くように、県内のイベントや空き家、農地の情報等を提供します。
              </p>
        </div>
      </div>
    <p><a class="btn btn-default" href="/events" role="button"><strong>＃富士山だけが山梨じゃないんです！</strong></a></p>
  </div>
</div>
