<div class="jumbotron jumbotron-extend">
  <div class="container jumbotron-container">
  　　<div class="hidden_box">
        <label for="label2">このアプリについて</label>
          <input type="checkbox" id="label2"/>
            <div class="hidden_show">
              <p>私の子供の頃は、ぶどう狩りのお客さまも多かったのですが<br>
               今では、ぶどう農家を継ぐ人も少なくなり、空き家の数は日本で一番、<br>
               最近は、作り手のない農地も目に付きます。<br>
               富士山は世界遺産として認められ、たくさんのお客さまで賑わっていますが<br>
               その他の地域ももっと盛り上がって欲しいと思っています。<br>
               山梨では「また来てね」と言う時に「また来（こ）おし」という方言を使います。<br>
               そんな思いで県内のイベント、空き家や農地の情報等を提供します。
              </p>
        </div>
      </div>
    <p><a class="btn btn-default" href="/events" role="button"><strong>＃富士山だけが山梨じゃないんです！</strong></a></p>
  </div>
</div>
