<div class="jumbotron jumbotron-extend">
  <div class="container jumbotron-container">
    <!--<h1 class="site-name">Farmers' Supplies</h1>-->

      <div class="hidden_box"><!--追加-->
        <label for="label2">Farmers supportについて</label>
          <input type="checkbox" id="label2"/>
            <div class="hidden_show">

            <!--非表示ここから-->     
         <p>山梨県は、果物の生産地ですが、後継者問題で空き家は日本で一番多く<br>
            観光面では富士山周辺以外は少し寂しくなっています。<br>
            このアプリは、山梨県内を活性化するためのイベント、空き家、農業等の情報を提供していきます。<br>
            ・週末は山梨県に出かけてみたいが、行先はどうしても知名度のある場所になってしまう人<br>
            ・もっと穴場的な地域性のある、イベントの情報が欲しい人<br>
            ・県内を出て就職したけれども、いずれはは山梨に戻って農業やワインの仕事をしてみたい人<br>
            　そんな方々に見ていただきたい思いで作りました。</p>
            <!--ここまで-->
          </div>
        </div><!--ここまで追加-->

    <p><a class="btn btn-default" href="/events" role="button"><strong>＃富士山だけが山梨じゃないんです！</strong></a></p>
  </div>
</div>