body {
  padding-top: 50px;
}

body {
 height:100vh;
}

h1, h2, h3, h4, h5, h6, p,li {
  /**text-align: center;**/
  font-family: 'Playfair Display', sans-serif ;  
}

 ul li {
  list-style:none;
 }


 .footer{
  height:45px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  padding-top:10px;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  border-style: solid; border-color: #D3D3D3;border-width:1px ;
 }
 
 .footer p{
    text-align: center;
 }
 