/**body要素**/
body {
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  padding-bottom: 150px;
}

.wrapper {
  padding-bottom: 50px; 
}

.navbar-nav{
  float:right;
}

/**イベント詳細画面にのみ適用。高さを確保**/
.show-container{
    padding-bottom: 50px;
}

user_show-container{
    padding-bottom: 50px;    
}


/**フラッシュの設定**/
.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
}
.alert-alert {
  background-color: #f2dede;
  color: #a94442;
}


/**全体的な文字サイズ**/
h1, h2, h3, h4, h5, h6, p,li {
  text-align: center;
  /**font-family: 'Playfair Display', sans-serif ;**/
  font-family: arial, sans-serif;
}

 ul li {
  list-style:none;
 }


/**フッターの設定**/
 .footer{
  height:45px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  padding-top:10px;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  border-style: solid; border-color: #D3D3D3;border-width:1px ;
 }
 
 .footer p{
    text-align: center;
 }
 
 
 /**TOP画面ここから追加**/
 
 .container-fluid {
  max-width: auto;
}

 .jumbotron-extend {
    height: 100vh;
    min-height: 350px;
    margin-bottom: 50px;
    background: url("/budo.jpg") no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 30px;
    padding-right: 30px;
}
.jumbotron h1, h2, h3{
  color: #fff;
  text-align: center;
}

.site-name {
    margin-bottom: 60px;
    font-family: 'Playfair Display', sans-serif;
}

.btn{
    margin-bottom:5px;
}

.btn-default {
    border-radius: 0;
    background-color: #fff;
    color: #990066;
    font-family: 'Avenir', sans-serif;
}
.btn-default:hover {
    background-color: #990066;
    color: #fff;
}

/**ログイン周りのcss**/
.field{
  margin-bottom: 5px;
}

.main-header img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*全体*/
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
    margin-bottom: 60px;
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
}

/*ボタン装飾*/
.hidden_box label {
    border-radius: 0;
    /**background-color: #fff;**/
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size:35px;
}

/*ボタンホバー時*/
/**.hidden_box label:hover {
    background-color: #990066;
    color: #fff;
}**/

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 10px;
    height: auto;
    opacity: 1;
    background-color: #BDB76B;
    width: auto;
}


.jumbotron p{
      /**color: #fff;**/
      color: #fff;
      font-size:18px;
      font-family: 'Playfair Display', sans-serif ; 
}

.sort_link{
  color: white;
  text-decoration:none;
  outline: none;
}

.sort_link:hover {
    color: #fff;
    text-decoration:none;
}

.list-group-item-text{
  text-align: left;
}

.list-group-item-text{
  text-align: left;
}

.list-group-item-heading{
  text-align: left;   
}

.form-group{
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
}

.field{
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
}

.index-submit{
  text-align: center;  
}